<div class="row login-box">
 <div class="col-md-6 mx-auto">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
        <img src="../../../assets/image/download.jpg" class="logo-default">
      </div>
       <div class="row align-items-center login-row">
        <div class="col-sm-12 form-horizontal">

          <div class="form-group">
            <input [(ngModel)]="username" type="text" placeholder="Enter Username" class="form-control">
          </div>

          <div class="form-group">
            <input [(ngModel)]="password" type="password" placeholder="Enter Password" class="form-control">
          </div>

          <div class="form-group">
            <button (click)="doLogin(username,password)" [disabled]="!canLogIn()" class="btn btn-primary btn-block">Login </button>
          </div>

        </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>